@model Admin_Service.Models.Staff
@{
    ViewData["Title"] = "Details";
}
<h2>Details</h2>
<div>
    <h4>Staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffSurname)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffSurname)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StaffRole)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StaffRole)
        </dd>
    
        <dd>
            <table class="table">
                <tr>
                    <th>Staff Permission</th>
                </tr>
                @*@foreach (var item in Model.StaffName)*@
                
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.PurchasingPermission)
                            @Html.DisplayNameFor(model => model.PurchasingPermission)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.EditCardPermission)
                            @Html.DisplayNameFor(model => model.EditCardPermission)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.EditInvPermission)
                            @Html.DisplayNameFor(model => model.EditInvPermission)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.ViewCustMsgPermission)
                            @Html.DisplayNameFor(model => model.ViewCustMsgPermission)
                        </td>
                    </tr>
                
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
